In [11]:
import pandas
from datetime import datetime
import pytz
import matplotlib.pyplot as plt

data = pandas.read_csv("doge.csv", parse_dates = ["snapped_at"])
data

                    snapped_at     price    market_cap  total_volume
0    2013-12-15 00:00:00+00:00  0.000559  3.488670e+06  0.000000e+00
1    2013-12-17 00:00:00+00:00  0.000218  1.619159e+06  0.000000e+00
2    2013-12-18 00:00:00+00:00  0.000268  2.191987e+06  0.000000e+00
3    2013-12-19 00:00:00+00:00  0.000475  4.299422e+06  0.000000e+00
4    2013-12-20 00:00:00+00:00  0.000989  9.866232e+06  0.000000e+00
...                        ...       ...           ...           ...
2699 2021-05-09 00:00:00+00:00  0.633615  8.206402e+10  2.941837e+10
2700 2021-05-10 00:00:00+00:00  0.573136  7.436812e+10  4.905329e+10
2701 2021-05-11 00:00:00+00:00  0.451129  5.844156e+10  1.720036e+10
2702 2021-05-12 00:00:00+00:00  0.496731  6.435597e+10  1.529008e+10
2703 2021-05-13 00:00:00+00:00  0.415192  5.379610e+10  1.074262e+10

[2704 rows x 4 columns]

In [12]:
data["day"] =  data["snapped_at"].dt.date
day_avg = data.groupby(["day"]).mean()
day_avg

               price    market_cap  total_volume
Day
2013-12-15  0.000559  3.488670e+06  0.000000e+00
2013-12-17  0.000218  1.619159e+06  0.000000e+00
2013-12-18  0.000268  2.191987e+06  0.000000e+00
2013-12-19  0.000475  4.299422e+06  0.000000e+00
2013-12-20  0.000989  9.866232e+06  0.000000e+00
...              ...           ...           ...
2021-05-09  0.633615  8.206402e+10  2.941837e+10
2021-05-10  0.573136  7.436812e+10  4.905329e+10
2021-05-11  0.451129  5.844156e+10  1.720036e+10
2021-05-12  0.496731  6.435597e+10  1.529008e+10
2021-05-13  0.415192  5.379610e+10  1.074262e+10

[2704 rows x 3 columns]